*{
    margin:0;
    padding:0;
}
#container{
    width: 90%;
    margin:  0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}
header{
    margin: 20px 0;
    background-color: white;
    grid-column: 1/ span 2;
    display: grid;
    grid-template-columns: 47% 44%;
    justify-content: space-between;
}
header #menu{
    display: grid;
    align-items: center;
    grid-template-columns: 13% 13% 13% 13% 13%;
    justify-content: space-between;
}
#menu{
    list-style: none;
}
#menu li a{
    text-decoration: none;
    color: #4b4b52;
}
#menu li a:hover{
    color: #eaae54;
}
#content{
    grid-column: 1/ span 2;
    display: grid;
    grid-template-columns: 65% 33%;
    justify-content: space-between;
}
#content section #baner #img-desktop{
    width: 100%;
    }
    #textos{
        display: grid;
        grid-template-columns: 40% 50%;
        justify-content: space-between;
        margin-top: 1px;
    }
    #textos > h1{
        width: 100%;
        font-size: 42px;
        font-weight: 900;
    }
    #textos #descripcion{
        width: 100%;
    }
    #descripcion > p{
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 47px;
        width: 100%;
    }
    #descripcion button{
        background-color: #d95449;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 12px;
        padding: 12px 15px;
        border: none;
    }
    #descripcion button:hover{
        background-color: #00001a;
        border-radius: 20px;
    }
    #content aside{
        width: 90%;
       background-color: #00001a;
        padding: 20px;
    }
    #content aside .card:nth-child(3){
        border-top: 3px solid #ccc;
        border-bottom: 3px solid #ccc;
    }
    #content aside h1{
        color: #eaae54;
        margin: 25px 0;
        font-size: 35px;
    }
    #content aside{
    color: white;
    }
    #content .card{
        padding: 15px 0;
    }
    #content .card h3 a{
        text-decoration: none;
        color: white;
    }
    #content .card h3 a:hover{
        color: #eaae54; 
    }
    #content .card h3{
        margin: 15px 0;
    }
    footer{
        width: 100%;
        margin:  0 auto;
        display: grid;
        grid-column: 1/ span 2;
        grid-template-columns: 33% 33% 33%;
        margin-top: 40px;
        justify-content: space-between;
    }
footer .footer-card
{
    display: grid;
    grid-template-columns: 25% 67%;
    justify-content: space-between;
    width: 100%;
}
.footer-card #img-footer{
    width: 100%;
}
.footer-card #txt{
    width: 100%;
}
.footer-card #txt h2{
    color:rgb(177, 158, 158);
    margin-bottom:10px;
    font-size: 38px;
}
.footer-card #txt h5{
    margin-bottom: 10px;
    font-size: 20px;
}
.footer-card #txt p{
    font-size: 16px;
    line-height: 1.3;    
}
.footer-card #img-footer img{
    width: 100%;
}
#hamburguer,#close{
    display:none;
}
#img-mobile{
    display: none;
}
@media (max-width:490px)
{
    #hamburguer,#close{
        display:block;
        position: absolute;
        top: 38px;
        right: 10%;
    }
    #close{
        display: none;
        z-index: 10;
    }
    #logo{
        width: 10%;
    }
    #logo img{
        width:100%;
    }
    #container{
        grid-template-columns: auto;
        justify-content: space-between;
    }
    header{
        margin: 30px 0;
        display: grid;
        grid-template-columns: 100%;
        grid-column: 1/ span 2;
    }
    header #menu{
        display: none;
        background-color: #d0cccc;
        position:absolute;
        top:0;
        right:0;
        flex-direction:column;
        padding: 60px 0;
        width: 60%;
    }
    #menu li{
        margin:30px auto;
    }
    #content{
        grid-template-columns: auto;
    }
    #banner{
        padding-bottom: 20px;
    }
    #img-desktop{
        display: none;
    }
    #img-mobile{
        width: 100%;
        display: block;
    }
    #textos{
        flex-direction: column;  
    }
    #textos > p{
        width: 100%;
        font-size: 50px;
        padding-bottom: 20px;
    }
    #textos #descripcion{
        padding-bottom: 30px;
        width: 100%;
    }
    #content aside{
        background-color: #00001a;
        color: rgb(172, 170, 170);
        padding: 18px;
    }
    #content aside h1{
        color: #eaae54;
        margin: 10px 0;
        font-size: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card{
        padding: 20px 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    footer{
        grid-template-columns: auto;
    }
    footer .footer-card{
        padding-bottom: 20px;
    }
    .footer-card #text{
        width: 60%;
    }
    .footer-card #text h2{
        color: #ccc;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footer-card #text h5{
        font-size: 17px;
        padding-bottom: 3px;
    }
    .footer-card #text p{
        font-size: 14px;
        line-height: 1.2;
    }
    .footer-card #img-footer img{
        width: 100%;
    }
}

